/* 
    Document   : estilos
    Created on : 17/02/2012, 15:15:36
    Author     : Zona pc 02
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
  display: block;
}

.float-left { float: left}
.clear { clear: both}

body { font-family: monospace; background: #666} 

/*.sala { width: 14px; height:22px; padding-left: 8px}*/

.screen { width: 640px; height: 480px; margin: auto; background: #fff; position: relative;}
#view { border: 1px double #999; width: 320px; margin: auto}

.sala {width: 14px; height: 14px; float: left; border: 1px solid #000; }

#prev {
  position: absolute;
  left: 0px;
  top: 120px;
}

#next {
  position: absolute;
  right: 0px;
  top: 120px;
}


.bt { border-top: 1px solid #fff}
.br { border-right: 1px solid #fff}
.bb { border-bottom: 1px solid #fff}
.bl { border-left: 1px solid #fff}